<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--%= link_to (image_tag "logo.png", :size => "267x25", :title => "Brittany + Phil"), root_path, class: "navbar-brand" %-->
      <%= link_to (image_tag "fliplogo.gif", :size => "20x20", :title => "Brittany + Phil"), root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "WEDDING", root_path %></li> 
        <li class="<%= 'active' if current_page?(story_path) %>"><%= link_to "OUR STORY", story_path %></li> 
        <li class="<%= 'active' if current_page?(accommodations_path) %>"><%= link_to "ACCOMMODATIONS", accommodations_path %></li> 
        <li class="<%= 'active' if current_page?(photos_path) %>"><%= link_to "PHOTOS", photos_path %></li> 
        <li class="<%= 'active' if current_page?(gifts_path) %>"><%= link_to "GIFTS", gifts_path %></li> 
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>

<script>
$(".nav a").on("click", function(){
   $(".nav").find(".active").removeClass("active");
   $(this).parent().addClass("active");
});
</script>

<div class="container" style ="padding-top: 50px;">
  <div class="center" style="margin-top: 30px;">
  	<%= image_tag "gifts.png", :class => "img-responsive", :style => "margin: 0 auto;", :title => "Registry" %>
  	<hr width="25%">
  	<br />
  	<div class="row">
  		<div class="col-md-3 col-md-offset-3">
  			<%= link_to (image_tag "bedbathbeyond.png", :class => "img-responsive", :style => "margin: 0 auto;", :title => "Bed Bath & Beyond"), "http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=543212605" %>
  		</div>
  		<div class="col-md-3">
  			<%= link_to (image_tag "bloomingdales.png", :class => "img-responsive", :style => "margin: 0 auto;", :title => "Bloomingdales"), "http://www.bloomingdales.com/registry/wedding/guest/?registryId=6568256" %>
  		</div>
  	</div>
  </div>
</div>

<div class="center" style="color: #BDBDBD; margin-bottom: 10px; margin-top: 40px;">
	#BritaPhilter
	<br /><br />
	<small><%= link_to "Made", "creation.txt", :style => "color: #BDBDBD; text-decoration: underline;" %> by Phil</small>
</div>