<div class="jumbotron" style="color: #fff;">
	<%= image_tag "weregettingmarried.png", :class => "img-responsive", :style => "margin: 0 auto; margin-top: 150px;", :title => "We're Getting Married" %>
	<div class="center cabin" style="letter-spacing: 2px; margin-top: 15px;">
		JULY 16, 2016 / EVANSTON, IL
	</div>
</div>
<div class="center">
	<%= image_tag "ourstory.png", :class => "img-responsive", :style => "margin: 0 auto;", :title => "Our Story" %>
	<hr width="25%">
	<br />

	<br /><br /><br /><br /><br /><br /><br /><br />
</div>
<div class="center">
	<%= image_tag "bigday.png", :class => "img-responsive", :style => "margin: 0 auto;", :title => "The Big Day" %>
	<hr width="25%">
</div>
<div class="row center">
	<div class="col-md-3" style="margin-bottom: 50px;">
		<%= image_tag "rings.png", :class => "img-responsive", :size => "80x65", :style => "margin: 0 auto;", :title => "My precious..." %>
		<h3 class="cabin">
			CEREMONY
		</h3>
		<span style="color: #BDBDBD;">
			<i>"Corinthians 13:4 again?!"</i>
			<br />
			6:00PM
		</span>
	</div>
	<div class="col-md-3" style="margin-bottom: 50px;">
		<%= image_tag "whiskey.png", :class => "img-responsive", :size => "52x65", :style => "margin: 0 auto;", :title => "I love scotch. Scotchy, scotch, scotch. Here it goes down, down into my belly." %>
		<h3 class="cabin">
			COCKTAILS
		</h3>
		<span style="color: #BDBDBD;">
			<i>"Finally."</i>
			<br />
			6:30PM
		</span>
	</div>
	<div class="col-md-3" style="margin-bottom: 50px;">
		<%= image_tag "food.png", :class => "img-responsive", :size => "79x65", :style => "margin: 0 auto;", :title => "Should have gotten what you got..." %>
		<h3 class="cabin">
			RECEPTION
		</h3>
		<span style="color: #BDBDBD;">
			<i>"Can you hear me now?"</i>
			<br />
			7:00PM
		</span>
	</div>
	<div class="col-md-3" style="margin-bottom: 50px;">
		<%= image_tag "dancing.png", :class => "img-responsive", :size => "44x65", :style => "margin: 0 auto;", :title => "Eggsperience after?" %>
		<h3 class="cabin">
			AFTERPARTY
		</h3>
		<span style="color: #BDBDBD;">
			<i>"So we calling it a night or... ?"</i>
			<br />
			12:00AM
		</span>
	</div>
</div>
<div>
	<iframe width='100%' height='300px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/pnguyen06.nk2h9hlm/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1IjoicG5ndXllbjA2IiwiYSI6ImNpZmJqZWR5aTE5Mm5yN2x4aDBucGtxODMifQ.4VnJi0t4tcX1gMUGNAPtEw#17/42.04806/-87.67926'></iframe>
</div>