<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--%= link_to (image_tag "logo.png", :size => "267x25", :title => "Brittany + Phil"), root_path, class: "navbar-brand" %-->
      <%= link_to (image_tag "fliplogo.gif", :size => "20x20", :title => "Brittany + Phil"), root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "WEDDING", root_path %></li> 
        <li class="<%= 'active' if current_page?(story_path) %>"><%= link_to "OUR STORY", story_path %></li> 
        <li class="<%= 'active' if current_page?(accommodations_path) %>"><%= link_to "ACCOMMODATIONS", accommodations_path %></li> 
        <li class="<%= 'active' if current_page?(photos_path) %>"><%= link_to "PHOTOS", photos_path %></li> 
        <li class="<%= 'active' if current_page?(gifts_path) %>"><%= link_to "GIFTS", gifts_path %></li> 
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>

<script>
$(".nav a").on("click", function(){
   $(".nav").find(".active").removeClass("active");
   $(this).parent().addClass("active");
});
</script>

<div class="container">
    <div class="center" style="margin-top: 30px;">
    	<%= image_tag "photos.png", :class => "img-responsive", :style => "margin: 0 auto;", :title => "Photos" %>
    	<hr width="25%">
    	<br />
    	<div>

    		<div id="links">
        <a href="assets/2015maine.jpg" title="Maine 2015 - Weekend after we got engaged" data-gallery>
            <img src="assets/2015maine-thumb.jpg" alt="Maine 2015">
        </a>
        <a href="assets/2015berlin.jpg" title="Germany 2015 - Checking out the Berlin Wall" data-gallery>
            <img src="assets/2015berlin-thumb.jpg" alt="Berlin 2015">
        </a>
        <a href="assets/2015japan.jpg" title="Japan 2015 - At Kinkaku-ji, the golden pavilion" data-gallery>
            <img src="assets/2015japan-thumb.jpg" alt="Japan 2015">
        </a>
        <a href="assets/2014macau.jpg" title="Macau 2014 - At the Ruins of St. Paul" data-gallery>
            <img src="assets/2014macau-thumb.jpg" alt="Macau 2014">
        </a>
        <a href="assets/2014hongkong.jpg" title="Hong Kong 2014 - Victoria Peak overlooking the city" data-gallery>
            <img src="assets/2014hongkong-thumb.jpg" alt="Hong Kong 2014">
        </a>
        <a href="assets/2014cambodia.jpg" title="Cambodia 2014 - At Angkor Wat" data-gallery>
            <img src="assets/2014cambodia-thumb.jpg" alt="Cambodia 2014">
        </a>
        <a href="assets/2014thailand.jpg" title="Thailand 2014 - Checking out the temples in Bangkok" data-gallery>
            <img src="assets/2014thailand-thumb.jpg" alt="Thailand 2014">
        </a>
        <a href="assets/2014napa.jpg" title="Napa 2014 - Wine tasting at Frog's Leap" data-gallery>
            <img src="assets/2014napa-thumb.jpg" alt="Napa 2014">
        </a>
        <a href="assets/2013maine.jpg" title="Maine 2013 - There used to be a lobster on the table" data-gallery>
            <img src="assets/2013maine-thumb.jpg" alt="Maine 2013">
        </a>
        <a href="assets/2013vienna.jpg" title="Austria 2013 - At Brittany's favorite gelato place in Vienna" data-gallery>
            <img src="assets/2013vienna-thumb.jpg" alt="Vienna 2013">
        </a>
        <a href="assets/2013paris.jpg" title="France 2013 - Rainy day in champagne country" data-gallery>
            <img src="assets/2013paris-thumb.jpg" alt="Paris 2013">
        </a>
        <a href="assets/2013uk.jpg" title="UK 2013 - Sunday roast with Serene" data-gallery>
            <img src="assets/2013uk-thumb.jpg" alt="UK 2013">
        </a>
        <a href="assets/2012napa.jpg" title="Napa 2012 - Champagne tasting at Domaine Chandon" data-gallery>
            <img src="assets/2012napa-thumb.jpg" alt="Napa 2012">
        </a>
        <a href="assets/2012santabarbara.jpg" title="Santa Barbara 2012 - At the Old Mission" data-gallery>
            <img src="assets/2012santabarbara-thumb.jpg" alt="Santa Barbara 2012">
        </a>
        <a href="assets/2009vegas.jpg" title="Las Vegas 2009 - The weekend of our first date" data-gallery>
            <img src="assets/2009vegas-thumb.jpg" alt="Las Vegas 2009">
        </a>
    		</div>


    	</div>
    </div>

    <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
        <!-- The container for the modal slides -->
        <div class="slides"></div>
        <!-- Controls for the borderless lightbox -->
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
        <!-- The modal dialog, which will be used to wrap the lightbox content -->
        <div class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body next"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left prev">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                            Previous
                        </button>
                        <button type="button" class="btn btn-primary next">
                            Next
                            <i class="glyphicon glyphicon-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
    <script src="assets/javascripts/bootstrap-image-gallery.min.js"></script>
</div>

<div class="center" style="color: #BDBDBD; margin-bottom: 10px; margin-top: 40px;">
    #BritaPhilter
    <br /><br />
    <small><%= link_to "Made", "creation.txt", :style => "color: #BDBDBD; text-decoration: underline;" %> by Phil</small>
</div>