<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--%= link_to (image_tag "logo.png", :size => "267x25", :title => "Brittany + Phil"), root_path, class: "navbar-brand" %-->
      <%= link_to (image_tag "fliplogo.gif", :size => "20x20", :title => "Brittany + Phil"), root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "WEDDING", root_path %></li> 
        <li class="<%= 'active' if current_page?(story_path) %>"><%= link_to "OUR STORY", story_path %></li> 
        <li class="<%= 'active' if current_page?(accommodations_path) %>"><%= link_to "ACCOMMODATIONS", accommodations_path %></li> 
        <li class="<%= 'active' if current_page?(photos_path) %>"><%= link_to "PHOTOS", photos_path %></li> 
        <li class="<%= 'active' if current_page?(gifts_path) %>"><%= link_to "GIFTS", gifts_path %></li> 
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>

<script>
$(".nav a").on("click", function(){
   $(".nav").find(".active").removeClass("active");
   $(this).parent().addClass("active");
});
</script>

<div class="jumbotron_wedding" style="color: #fff;">
	<%= image_tag "weregettingmarried.png", :class => "img-responsive", :style => "margin: 0 auto; margin-top: 150px;", :title => "We're Getting Married" %>
	<div class="center cabin" style="letter-spacing: 2px; margin-top: 15px;">
		JULY 16, 2016 / EVANSTON, IL
	</div>
</div>

<div class="center">
	<%= image_tag "bigday.png", :class => "img-responsive", :style => "margin: 0 auto;", :title => "The Big Day" %>
	<hr width="25%">
</div>
<div style="margin-bottom: 100px;">
	<div class="row center">
		<div class="col-md-3" style="margin-bottom: 50px;">
			<%= image_tag "rings.png", :class => "img-responsive", :size => "80x65", :style => "margin: 0 auto;", :title => "My precious..." %>
			<h3 class="cabin" style="letter-spacing: 4px; margin-bottom: 0px;">CEREMONY</h3>
			<i style="color: #BDBDBD;">"Corinthians 13:4 again?!"</i>
			<div class="cabin" style="letter-spacing: 2px; margin-top: 25px;">6:00PM</div>
			<div style="line-height: 2.0;">
				The Woman's Club of Evanston<br />
				1702 Chicago Avenue<br />
				Evanston, IL 60201
			</div>
		</div>
		<div class="col-md-3" style="margin-bottom: 50px;">
			<%= image_tag "whiskey.png", :class => "img-responsive", :size => "52x65", :style => "margin: 0 auto;", :title => "I love scotch. Scotchy, scotch, scotch. Here it goes down, down into my belly." %>
			<h3 class="cabin" style="letter-spacing: 4px; margin-bottom: 0px;">COCKTAILS</h3>
			<i style="color: #BDBDBD;">"Finally."</i>
			<div class="cabin" style="letter-spacing: 2px; margin-top: 25px;">6:30PM</div>
			<div style="line-height: 2.0;">
				The Woman's Club of Evanston<br />
				1702 Chicago Avenue<br />
				Evanston, IL 60201
			</div>
		</div>
		<div class="col-md-3" style="margin-bottom: 50px;">
			<%= image_tag "food.png", :class => "img-responsive", :size => "79x65", :style => "margin: 0 auto;", :title => "Should have gotten what you got..." %>
			<h3 class="cabin" style="letter-spacing: 4px; margin-bottom: 0px;">RECEPTION</h3>
			<i style="color: #BDBDBD;">"Can you hear me now?"</i>
			<div class="cabin" style="letter-spacing: 2px; margin-top: 25px;">7:30PM</div>
			<div style="line-height: 2.0;">
				The Woman's Club of Evanston<br />
				1702 Chicago Avenue<br />
				Evanston, IL 60201
			</div>
		</div>
		<div class="col-md-3" style="margin-bottom: 50px;">
			<%= image_tag "dancing.png", :class => "img-responsive", :size => "44x65", :style => "margin: 0 auto;", :title => "Eggsperience after?" %>
			<h3 class="cabin" style="letter-spacing: 4px; margin-bottom: 0px;">AFTERPARTY</h3>
			<i style="color: #BDBDBD;">"So we calling it a night or... ?"</i>
			<div class="cabin" style="letter-spacing: 2px; margin-top: 25px;">12:00AM</div>
			<div style="line-height: 2.0;">
				Celtic Knot Public House<br />
				626 Church Street<br />
				Evanston, IL 60201
			</div>
		</div>
	</div>
	<iframe width='100%' height='300px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/pnguyen06.nk2h9hlm/attribution,geocoder,share.html?access_token=pk.eyJ1IjoicG5ndXllbjA2IiwiYSI6ImNpZmJqZWR5aTE5Mm5yN2x4aDBucGtxODMifQ.4VnJi0t4tcX1gMUGNAPtEw#17/42.04806/-87.67926'></iframe>
</div>
<div class="center">
	<%= image_tag "weddingparty.png", :class => "img-responsive", :style => "margin: 0 auto;", :title => "The Wedding Party" %>
	<hr width="25%">
</div>
<div>
	<!-- ROW 1 -->
	<div class="row" style="margin-bottom: 25px;">
		<div class="col-md-2">
			<%= image_tag "alexandra.png", :class => "img-responsive", :style => "margin: 0 auto;", :title => "Alexandra Vignocchi" %>
		</div>
		<div class="col-md-4">
			<h3 class="party_name">ALEXANDRA VIGNOCCHI</h3>
			<p class="party_title">Maid of Honor</p>
			<p class="party_description">Alexandra and Brittany met sophomore year of high school in Chemistry class and lived down the street from each other. Alexandra taught Brittany all of her cooking skills... a gift that keeps on giving, much to Phil's delight!</p>
		</div>
		<div class="col-md-2">
			<%= image_tag "max.png", :class => "img-responsive", :style => "margin: 0 auto;", :title => "Max Green" %>
		</div>
		<div class="col-md-4">
			<h3 class="party_name">MAX GREEN</h3>
			<p class="party_title">Best Man</p>
			<p class="party_description">Max and Phil have been friends since 4th grade. They were in the Boy Scouts together where Phil endured a minor case of hypothermia. Max gave him wool socks for next time.</p>
		</div>
	</div>
	<!-- ROW 2 -->
	<div class="row" style="margin-bottom: 25px;">
		<div class="col-md-2">
			<%= image_tag "liz.png", :class => "img-responsive", :style => "margin: 0 auto;", :title => "Elizabeth D'Arcy" %>
		</div>
		<div class="col-md-4">
			<h3 class="party_name">ELIZABETH D'ARCY</h3>
			<p class="party_title">Bridesmaid</p>
			<p class="party_description">Liz is Brittany's younger sister. They shared a room as small children and a car as adults (at least for a few years) - yet still somehow love each other. They also enjoy winter white chocolate ice cream and their Aunt Cathy's food.</p>
		</div>
		<div class="col-md-2">
			<%= image_tag "perry.png", :class => "img-responsive", :style => "margin: 0 auto;", :title => "Perry Chu" %>
		</div>
		<div class="col-md-4">
			<h3 class="party_name">PERRY CHU</h3>
			<p class="party_title">Groomsman</p>
			<p class="party_description">Perry and Phil have been friends since 5th grade. They've been to Japan, Korea, Thailand, Cambodia, Hong Kong, the Western Caribbean, and Burning Man (twice) together.</p>
		</div>
	</div>
	<!-- ROW 3 -->
	<div class="row" style="margin-bottom: 25px;">
		<div class="col-md-2">
			<%= image_tag "alyssa1.png", :class => "img-responsive", :style => "margin: 0 auto;", :title => "Alyssa Jones" %>
		</div>
		<div class="col-md-4">
			<h3 class="party_name">ALYSSA JONES</h3>
			<p class="party_title">Bridesmaid</p>
			<p class="party_description">Alyssa was Brittany's first college friend, meeting shortly after arriving on campus. They traveled to Brazil to dance the samba and now live in New York City together.</p>
		</div>
		<div class="col-md-2">
			<%= image_tag "jawwad.png", :class => "img-responsive", :style => "margin: 0 auto;", :title => "Jawwad Akhtar" %>
		</div>
		<div class="col-md-4">
			<h3 class="party_name">JAWWAD AKHTAR</h3>
			<p class="party_title">Groomsman</p>
			<p class="party_description">Jawwad and Phil were in the same business fraternity in college. He taught Phil everything he knows about finance and ballin' out of control.</p>
		</div>
	</div>
	<!-- ROW 4 -->
	<div class="row" style="margin-bottom: 25px;">
		<div class="col-md-2">
			<%= image_tag "catherine.png", :class => "img-responsive", :style => "margin: 0 auto;", :title => "Catherine Lien" %>
		</div>
		<div class="col-md-4">
			<h3 class="party_name">CATHERINE LIEN</h3>
			<p class="party_title">Bridesmaid</p>
			<p class="party_description">Catherine and Brittany met in college and took most of their classes together. Catherine was Brittany's #1 study buddy and beer pong partner until Phil entered the picture. Catherine was also the one that introduced Brittany and Phil... thanks!</p>
		</div>
		<div class="col-md-2">
			<%= image_tag "richard.png", :class => "img-responsive", :style => "margin: 0 auto;", :title => "Richard Chen" %>
		</div>
		<div class="col-md-4">
			<h3 class="party_name">RICHARD CHEN</h3>
			<p class="party_title">Groomsman</p>
			<p class="party_description">Richard and Phil were college roommates for three years. During this time they would drink Fuze and play an acceptably moderate amount of Super Smash Bros.</p>
		</div>
	</div>
	<!-- ROW 5 -->
	<div class="row" style="margin-bottom: 25px;">
		<div class="col-md-2">
			<%= image_tag "jon.png", :class => "img-responsive", :style => "margin: 0 auto;", :title => "Jon Levy" %>
		</div>
		<div class="col-md-4">
			<h3 class="party_name">JON LEVY</h3>
			<p class="party_title">Bridesman/Officiant</p>
			<p class="party_description">Jon and Brittany met during their awkward middle school years, back when Jon had a lion's mane of hair. He also has many embarrassing stories about Brittany so we won't say anything else about him!</p>
		</div>
		<div class="col-md-2">
			<%= image_tag "serene.png", :class => "img-responsive", :style => "margin: 0 auto;", :title => "Serene Chen" %>
		</div>
		<div class="col-md-4">
			<h3 class="party_name">SERENE CHEN</h3>
			<p class="party_title">Groomsmaid</p>
			<p class="party_description">Serene and Phil were best friends in the summer of 2006 when they went to Six Flags every week. She still owes him a funnel cake.</p>
		</div>
	</div>
	<!-- ROW 6 -->
	<div class="row" style="margin-bottom: 25px;">
		<div class="col-md-2">
			<%= image_tag "caitlin.png", :class => "img-responsive", :style => "margin: 0 auto;", :title => "Caitlin Griffin" %>
		</div>
		<div class="col-md-4">
			<h3 class="party_name">CAITLIN GRIFFIN</h3>
			<p class="party_title">Usher</p>
			<p class="party_description">Caitlin and Brittany met while living in New York City thanks to her college roommates. Caitlin enjoys being our third wheel, particularly at the gym and at our kitchen table or couch.</p>
		</div>
		<div class="col-md-2">
			<%= image_tag "yao.png", :class => "img-responsive", :style => "margin: 0 auto;", :title => "Michael Yao" %>
		</div>
		<div class="col-md-4">
			<h3 class="party_name">MICHAEL YAO</h3>
			<p class="party_title">Usher</p>
			<p class="party_description">Yao and Phil met each other in high school and were part of the same fraternity in college. Gregarious and jam-packed of random facts and tidbits, there's never a dull moment with Yao around.</p>
		</div>
	</div>
</div>

<div class="center" style="color: #BDBDBD; margin-bottom: 10px; margin-top: 40px;">
	#BritaPhilter
	<br /><br />
	<small><%= link_to "Made", "creation.txt", :style => "color: #BDBDBD; text-decoration: underline;" %> by Phil</small>
</div>